<!--ignore-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Textutils</title>
</head>
<body>
<h1> {{function}} </h1>
<h3> Welcome To text analyser enter your text below:</h3>
<form action='analyze/' method='get'>
    <textarea name='text' style="width: 1122px; height: 110px;">

    </textarea>
    <br>
    <input type="checkbox" name="removepunc">remove punctuations</input>
    <input type="checkbox" name="fullcaps">CAPITILIZE</input>
    <input type="checkbox" name="newlineremover">New Line Remover</input>
    <input type="checkbox" name="spaceremover">SpaceRemover</input>
    <input type="checkbox" name="extraspaceremover">Extra Space Remover</input>

    <!--    <input type="checkbox" name="capfirst">capfirst</input>-->
<!--    <input type="checkbox" name="newlineremove">new line remove</input>-->
<!--    <input type="checkbox" name="spaceremove">space remove</input>-->
<!--    <input type="checkbox" name="charcount">char count</input>-->
    <button type="submit">Analyze Text</button>
</form>
</body>
</html>